@import "@fontsource/open-sans";
@import "./partials/_variables.scss";
// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", "Ubuntu", "Cantarell", "Fira Sans", "sans-serif";
}

// Generics
body {
    background: linear-gradient(to top, rgba(16, 149, 136, 0.25), #dddbd2 50%, #dddbd2 85%, #109587 75%);
}
// Utils
.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-flex {
    display: flex;
}

.bg-pattern {
    background:
        $pattern /* fixed no-repeat -20% center / contain */,
        #efeae2;
}
